<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <h1>USERS</h1>
    {{#each users}}
    <h3>
        <div>FirstName: {{this.firstName}}</div>
        <div>LastName: {{this.lastName}}</div>
        <div>Email: {{this.email}}</div>
        <div>Password: {{this.password}}</div>
        <div>Age: {{this.age}}</div>
        <div>City: {{this.city}}</div>
    </h3>
    {{/each}}
  </div>
</body>
</html>